body{
    background-color: rgb(205, 146, 155);
}
.banner{
    display: flex;
    column-gap: 10px;
}
p{
    color: aliceblue;
}
button{
    border: none;
    padding: 10px 30px;
    font-size: 14px;
    background-color:rgb(205, 146, 155);
    cursor: pointer;
    color:aliceblue;
}
button:hover{
    background-color: rgb(228, 176, 185);
    border-radius: 30px;
    color: black;
}
.info{
    margin-left: 450px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
h1,h2,h3{
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    row-gap: 10px;
    margin-top: 70px;
}
.proj-1,.proj-2,.proj-3,.proj-4{
    margin-right: 60px;
    margin-left: 15px;
    background-color:pink;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); 
}
.proj-B{
    background-color: pink;
     color: rgb(173, 41, 63);
    display: block;
    margin: auto;
}
.line-proj,.title-proj{
    margin-left: 9px;
    color: rgb(173, 41, 63);
}
.proj-1:hover{
  transform: translateY(-10px);
}
.proj-2:hover{
    transform: translateY(-10px);
  }
.proj-3:hover{
    transform: translateY(-10px);
  }
.proj-4:hover{
    transform: translateY(-10px);
  }
.attribute{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}
.sent{
   font-size: 23px;
}
li{
    color: aliceblue;
}